/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form .row {
  @apply flex w-full justify-between;
}

form label {
  @apply mt-6
}

form .column:first-child {
  @apply sm:pr-4;
}

form .column {
  @apply w-full flex flex-col;
}

form input, select, textarea {
  @apply border rounded px-2 py-2;
}

form .row {
  @apply flex flex-col sm:flex-row
}